*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(245, 241, 241);
}
/* header footer样式 */
header, footer{
    height: 60px;
    background-color: turquoise;
}

#logo{
    height: 60px;
}

#nav-right{
    float: right;
    list-style: none;
}

#nav-right li{
    float: left;
    padding: 0px 5px;
    height: 60px;
}

#nav-right a{
    display: inline-block;
    text-decoration: none;
    color: white;
    line-height: 60px;
}

#nav-right li:hover{
    background-color: white;
}
#nav-right a:hover{
    color: turquoise;
}
/* 怎么整合hover效果？ */

/* 主体样式 */

.main{
    width: 80%;
    margin: 10px auto;
}
.text{
    background-color: white;
    padding: 10px;
    margin: 15px 0;
}
.list{
    list-style: none;
}

.listobj{
    margin:  20px 25px;
}
/*         表格            */
.prizetab{
    width:100%;
    border-collapse: collapse;/*边框*/
    border:1px solid grey;

    margin: 10px 5px;
    text-align: left;
}
.prizetab tr{
    height: 30px;
}
.prizetab th{
    background-color: whitesmoke;
    border: 1px solid grey;
    
}
.prizetab td{
    border: 1px solid grey;
}
.prizetab a{
    text-decoration: none;
}


/*         侧栏            */
aside h2{
    border-left:5px solid grey;
}
.sub{
    width: 550px;
    margin: 5px auto;
}
.sub p{
    margin: 5px 0;
}
.sub span{
    display: inline-block;
    width: 160px;
    text-align: right;
    margin-right: 20px;
}
.notice{
    color: rgb(190, 190, 190);
    padding-left: 185px;
}
#introduction_tip{
    float: left;
    text-align: right;
}
.sub .btn{
    width: 100%;
    margin: 10px 2px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(238, 238, 238);
}
.sub .btn:hover{
    background-color: rgb(190, 190, 190);
}


/*底部栏*/
footer{
    line-height: 60px;
    text-align: center;
}